# Creado por https://www.toptal.com/developers/gitignore/api/flutter
# Editar en https://www.toptal.com/developers/gitignore?templates=flutter

### Aleteo ###
# Relacionado con Flutter/Dart/Pub
**/doc/api/
.herramienta_dart/
complementos .flutter
Dependencias de los complementos de Flutter
.fvm/flutter_sdk
.paquetes
.pub-cache/
.pub/
construir/
cobertura/
lib/generated_plugin_registrant.dart
# Para los paquetes de biblioteca, no confirme el archivo pubspec.lock.
# La regeneración del archivo pubspec.lock le permite probar su paquete contra las últimas versiones compatibles de sus dependencias.
# Consulte https://dart.dev/guides/libraries/private-files#pubspeclock
#pubspec.bloqueo

# Relacionado con Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/capturas/
**/android/gradlew
**/android/gradlew.bat
**/android/key.propiedades
**/android/local.propiedades
**/android/**/GeneratedPluginRegistrant.java
.metadata

# Relacionado con iOS/XCode
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.movido a un lado
**/ios/**/*.pbxuser
**/ios/**/*.perspectivav3
**/ios/**/*sincronización/
**/ios/**/.sconsign.dblite
**/ios/**/.etiquetas*
**/ios/**/.vagabundo/
**/ios/**/Datos derivados/
**/ios/**/¿Icono?
**/ios/**/Pods/
**/ios/**/.enlaces simbólicos/
**/ios/**/perfil
**/ios/**/xcuserdata
**/ios/.generado/
**/ios/Flutter/.id_última_compilación
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Excepciones a las reglas anteriores.
!**/ios/**/modo predeterminado1v3
!**/ios/**/modo predeterminado2v3
!**/ios/**/predeterminado.pbxuser
!**/ios/**/predeterminado.perspectivav3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# Fin de https://www.toptal.com/developers/gitignore/api/flutter